<h1 class='mb-4'>Edit Coach</h1>
    <div id="instructions" class='mb-4'>
        <p>Page allows you to edit your coach</p>
    </div>
    
    <div id="editcoach" class='mb-4 col-md-4 p-1'>
        <p>Edit existing coach:</p>
        {{#each data}}
        <form action="/coach/{{this.coachId}}?_method=PUT" method="POST">
            <div class="form-group mb-1">
                <label for="name" class="form-label">Coach Name:</label>
                <input type="text" id="name" name="name" class="form-control" value="{{this.name}}" required>           
            </div>
            <div class="form-group mb-1">
                <label for="coachType" class="form-label">Coach Type:</label>
                <input type="text" id="coachType" name="coachType" class="form-control" value="{{this.coachType}}">           
            </div>
            <div class="form-group mb-1">
                <label for="team" class="form-label">Team</label>
                <select class="form-select form-control" name="teamId" id="teamId">
                    {{#if this.teamId}}
                    <option value="{{this.teamId}}">{{this.locationName}} {{this.teamName}}</option>
                    {{/if}}
        {{/each}}
                    <option value="">No team</option>
                    {{#each teams}}
                    <option value="{{this.teamId}}">{{this.locationName}} {{this.teamName}}</option>
                    {{/each}}
                </select>
            </div>
        {{#each data}}
            <div class="form-group mb-1">
                <label for="rating" class="form-label">Rating:</label>
                <input type="number" step="any" id="rating" name="rating" class="form-control" value="{{this.rating}}">           
            </div>
            <div class="form-group mb-1">
                <label for="salary" class="form-label">Salary:</label>
                <input type="number" id="salary" name="salary" class="form-control" value="{{this.salary}}">           
            </div>
                <button type="submit" class="btn btn-primary m-4">Submit</button>
                <a href='/coach' role="button" class="btn btn-danger">Cancel Changes</a>
        </form>
        {{/each}}
    </div>
